<%-include("partials/header")%>


  <div class="jumbotron">
      <!-- <form  action="/fileUploads" method="POST" enctype="multipart/form-data"  > 
        <div class="form-group" >
          <input type="file"  name="file" id="file">
          <button class="btn btn-success"  id="button">Uploads</button>
        </div>
      </form> -->

      <a href="/addFile" class="btn btn-primary">Add a File</a>
</div>


<div class="container">
  <div class="row">


    <div class="col-md-8">

      Here goes Exam That  User added
    </div>


    <div class="col-md-3">
      Here goes Some Useful Links
    </div>

  </div>
</div>





<%-include("partials/footer")%>
