@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* body {
  background-color: #020c1b;
} */

nav {
  font-family: 'Audiowide', cursive;
}

.nav-link {
  color: blue !important;
  font-size: 18px;
}

.nav-link:hover {
  color: rgb(122, 121, 121) !important;
  text-shadow: 0.5px 0.5px px rgb(211, 205, 205);
  /* background-color: rgb(155, 143, 143); */
}

.register-form {
  width: 50%;
  margin: 0 auto;
  background-color: #fdfdfd;
  height: 80%;
  padding: 100px;
}

@media (max-width: 780px) {
  .register {
    width: 70% !important;
  }
}

.btn-register:hover {
  background-color: white !important;
}
